.App {

}

input {
  -webkit-appearance: none;
  appearance: none;
  line-height: 20px;
  font-size: 14px;
  display: block;
  border: none;
  border: 2px solid #eaeaea;
  margin: 0 0 5px 0;
  width: 100%;
  border-radius: 3px;
  padding: 10px;
}

input:focus {
  outline: none;
}

.App-header {
  background-color: #013a47;
  height: 60px;
  color: white;
  padding: 0 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 1px 6px 2px rgba(0,0,0,.10), 0 1px 15px 5px rgba(0,0,0,.08);
}

.App-logo {
  height: 60px;
  float: left;
  line-height: 60px;
  font-size: 30px;
  font-family: 'Shrikhand', cursive;
}

.App-header small {
  float: right;
  line-height: 60px;
  font-size: 10px;
  color: #dadada;
}

.visual, .ideas {
  display: inline-block;
}

.visual {
  width: calc(100% - 260px);
  height: calc(100vh - 60px);
  margin-top: 60px;
}

.ideas {
  width: 260px;
  float: right;
  padding: 80px 20px 0 20px;
  height: 100vh;
  background: #f5f6f7;
}

.NewIdea {
  max-width: 300px;
}

.NewIdea button {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: #29BECD;
  color: white;
  font-weight: 700;
  padding: 15px 25px;
  border-radius: 3px;
  font-size: 12px;
  letter-spacing: 2px;
}

text {
  cursor: pointer;
}

text:hover {
  opacity: .8;
}

.target-word-overlay {
  position: fixed;
  z-index: 900;
  padding-top: 60px;
  width: 100%;
  height: 100%;
  display: table;
  background: #065a6c;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  transition: all .3s ease;
}

.show-target-overlay {
  opacity: 1;
  pointer-events: all;
}

.target-word-overlay h2 {
  margin: 0 0 10px 0;
  color: white;
  font-weight: 400;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
}

.target-word-overlay input {
  width: 500px;
  display: inline-block;
}

.target-word-input {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  top: -60px;
}

.VisWinner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.VisWinner img {
  width: 550px;
  height: 350px;
  padding-bottom: 20px;
}

.VisWinner button {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: #29BECD;
  color: white;
  font-weight: 700;
  padding: 15px 25px;
  border-radius: 3px;
  font-size: 12px;
  letter-spacing: 2px;
}

.history-display .score {
  font-family: 'Press Start 2P', cursive;
  text-align: right;
  margin: 0 0 50px 0;
  color: #FD7F28;
}

.target-word {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  margin-bottom: 35px;
  color: #2678B2;
  font-size: 24px;
}

.history-display ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.history-display li {
  padding: 0;
  margin: 25px 0;
  position: relative;
  color: #7F7F7F;
  text-align: center;
  font-size: 18px;
  font-family: 'Josefin Sans', sans-serif;
}

.history-display li:before {
  content: ' ';
  border-left: 2px solid #29BECD;
  position: absolute;
  top: -21px;
  height: 16px;
  width: 2px;
  left: calc(50% - 1px);
}

.history-display li:first-child:before {
  border-left: 2px dotted #29BECD;
  height: 26px;
  top: -31px;
}

.finish-history:before {
  border-left: 4px solid #339E34 !important;
  left: calc(50% - 2px) !important;
}
