.App {
  text-align: center;
}

.App-logo {
  height: 100px;
}

.App-header {
  background-color: #013a47;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.visual, .ideas {
  margin-top: 30px;
  padding-top: 60px;
  display: inline-block;
  height: 500px;
  vertical-align: text-top;
  text-align: center;
}

.visual {
  width: 65%;
}

.ideas {
  width: 30%;
}